.all_button {
    -fx-cursor: hand;
}

.button {
    -fx-background-color:  #809bce;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color:  #4A628A;
    -fx-cursor: hand;

}

.tab-pane .tab {
    -fx-background-color: transparent;
}

.tab-pane .tab:hover {
    -fx-background-color: #809bce;
    -fx-cursor: hand;
}

.tab-pane .tab:selected {
    -fx-background-color: white;
}

